<script type="text/javascript">
var css2 = document.createElement('link');
css2.rel = 'stylesheet';
css2.href = 'https://use.fontawesome.com/releases/v5.6.3/css/all.css';
css2.type = 'text/css';
var defer2 = document.getElementsByTagName('link')[1];
defer2.parentNode.insertBefore(css2, defer2);
</script>

<!--Javascript and dependencies, jQuery, Popper.js, Bootstrap JS-->
<script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" delay></script>
<script src="js\custom.js"></script>
